﻿@model Shared.AssetModels.AssetType

<h3>Asset Type</h3>

<form asp-action="Create" method="post">
    <div class="row">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a asp-action="Index" class="btn">Cancel</a>
    </div>
</form>

