﻿@model IEnumerable<Shared.AssetModels.AssetType>

<h3>Asset Types</h3>

<p class="mt-2">
    <a class="btn btn-primary" asp-action="Create">Create</a>
</p>
<div class="row mt-2">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var assetType in Model)
            {
                <tr>
                    <td>@assetType.Id</td>
                    <td>@assetType.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@assetType.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>