﻿@model IEnumerable<AMS.Infrastructure.Models.Client>

<h3>Clients</h3>

<p class="mt-2">
    <a class="btn btn-primary" asp-action="Create">Create</a>
</p>
<div class="row mt-2">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var client in Model)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@client.Id">Edit</a>
                        <a class="btn btn-success" asp-controller="Assets" asp-action="Index" asp-route-clientId="@client.Id" asp-route-clientName="@client.Name">Assets</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>