﻿@model AMS.Infrastructure.Models.DefaultAsset

<h3>New Asset</h3>

<form asp-action="Create" method="post">
    <div class="row">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Client.Id" value="@ViewBag.ClientId" />

        <div class="form-group">
            <label asp-for="Client.Name">Client</label>
            <input asp-for="Client.Name" value="@ViewBag.ClientName" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>

        <div class="form-group">
            <label asp-for="Type.Id">Type</label>
            <select asp-for="Type.Id" asp-items="ViewBag.AssetTypes"></select>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea rows="5" asp-for="Description" ></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <a asp-action="Index" class="btn" asp-route-clientId="@ViewBag.ClientId" asp-route-clientName="@ViewBag.ClientName">Cancel</a>
    </div>
</form>

