﻿@model IEnumerable<AMS.Infrastructure.Models.DefaultAsset>

<h3>@ViewBag.ClientName Assets</h3>

<p class="mt-2">
    <a class="btn btn-primary" asp-action="Create" asp-route-clientId="@ViewBag.ClientId" asp-route-clientName="@ViewBag.ClientName">Create</a>
</p>
<div class="row mt-2">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Client</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var asset in Model)
            {
                <tr>
                    <td>@asset.Id</td>
                    <td>@asset.Name</td>
                    <td>@asset.Type.Name</td>
                    <td>@asset.Client.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@asset.Id" asp-route-clientId="@ViewBag.ClientId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>