﻿@model Shared.DocumentModels.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repository)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repository.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Folder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Folder.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModificationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Download" asp-route-id="@Model.Id">Download</a> |
    <a asp-action="Index" asp-route-repositoryId="@Model.RepositoryId" asp-route-folderId="@Model.FolderId">Back to List</a>
</div>
